body {
    background-color: #e2dee0;
}
nav {
    background-color: #8b8f77;
}
.brand-logo {
    font-family:'Open Sans', sans-serif;

}

.logo {
    padding: 5px;
}

.flashes h4 {
    line-height: 2;
    color: whitesmoke;
}

.headers {
    font-family:'Open Sans', sans-serif;
    font-weight: bold;
}

#book_title {
    color: #ff7043;
    font-size: 1.5em;
    padding-left: 2em;
    text-shadow: #8b8f77;

}

#book_name {
    padding-left: 2em;
    padding-right: 2em;
    text-shadow: #8b8f77;
}

#add_review {
    background-color: #e2dee0;
}

#like_button {
    background-color: bisque;
    margin-left: 1em;
}
 
#heart {
    color: #ff7043;
    font-size: 1.5em;
    padding-left: 2em;
    text-shadow: #8b8f77;

}

#like_span {
    padding-left: 1em;
}

a {
    color: white;

}
 

/* Float cancel and delete buttons and add an equal width */
.deletebtn {
  float: left;
  width: 50%;
}


/* the delete button */
.deletebtn {
  background-color: #ff7043;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

/* container */
.container {
  padding: 16px;
  text-align: center;
}

/* modal*/
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 80%;
  height: 100%;
  overflow: auto;
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 60%;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
 .deletebtn {
    width: 100%;
  }
}