body {
    background-color: #e2dee0;
}
nav {
    background-color: #8b8f77;
}
.brand-logo {
    font-family:'Open Sans', sans-serif;

}

.logo {
    padding: 5px;
}

.flashes h4 {
    line-height: 2;
    color: whitesmoke;
}

.headers {
    font-family:'Open Sans', sans-serif;
    font-weight: bold;
}

#book_title {
    color: #ff7043;
    font-size: 1.5em;
    padding-left: 2em;
    text-shadow: #8b8f77;

}

#book_name {
    padding-left: 2em;
    padding-right: 2em;
    text-shadow: #8b8f77;
}