{% extends "base.html" %}
{% block content%}
<div class="row">
   <div class="col s12 m8 offset-m2">
      <div class="card">
         <div class="card-image">
            <img src="static/images/register_pic.jpg" alt="heart shape with book pages">
            <span class="card-title">Register to share your own book reviews!</span>
         </div>
         <form class="card-content" method="POST" action= "{{ url_for('register') }}">
            <!-- first and last name-->        
            <div class="row">
               <div class="input-field col s6">
                  <input id="first_name" name="first_name" type="text" minlength="2" maxlength="15" class="validate" required>
                  <label for="first_name">First Name</label>
               </div>
               <div class="input-field col s6">
                  <input id="last_name" name="last_name" type="text" minlength="2" maxlength="15" class="validate" required>
                  <label for="last_name">Last Name</label>
               </div>
            </div>
            <!-- password -->
            <div class="row">
               <div class="input-field col s12">
                  <input id="password" name="password" type="password" class="validate" pattern="^[a-zA-Z0-9]{2,15}$" minlength="4" maxlength="15" required>
                  <label for="password">Password</label>
               </div>
            </div>
            <!-- email -->
            <div class="row">
               <div class="input-field col s12">
                  <input id="email" name="email" type="email" class="validate" required>
                  <label for="email">Email</label>
               </div>
            </div>
            <!-- register button-->
            <div class="row">
               <button type="submit" class= "col s12 btn-large grey darken-2">
               Register
               </button>
            </div>
         </form>
      </div>
   </div>
   <div class="row">
      <div class="col s12">
         <p class="center-align">
            Already registered?
            <a href="{{ url_for('login') }}" class= "btn-large grey darken-2">Log in</a>
         </p>
      </div>
   </div>
</div>
{% endblock %}