{% extends "base.html" %}
{% block content %}

    

  <ul class="collapsible">
      {% for review in reviews %}
    <li class="active">
      <div class="collapsible-header"><i class="fas fa-book"></i><span class="headers">Book Title</span></div>
      <div class="collapsible-body"><span>{{ review.review_title }}</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="fas fa-feather"></i><span class="headers">Author</span></div>
      <div class="collapsible-body"><span>{{ review.review_author }}</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="fas fa-question-circle"></i><span class="headers"> Genre</span></div>
      <div class="collapsible-body"><span>{{ review.review_genre }}</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="fas fa-language"></i><span class="headers">Language</span></div>
      <div class="collapsible-body"><span>{{ review.review_language }}</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="fas fa-user-edit"></i><span class="headers">Review</span></div>
      <div class="collapsible-body"><span>{{ review.review_text }}</span></div>
    </li>
    {% endfor %}
  </ul>
        

    {% endblock %}