{% extends "base.html" %}
{% block content %}

    <h3 class="center-align">All book reviews</h3>

  <ul class="collapsible">
      {% for review in reviews %}
    <li >
      <div><p class="headers" id="book_title"><i class="fas fa-book"></i><span id="book_name">{{ review.review_title }}</span></p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="fas fa-feather"></i><span class="headers">Author</span></div>
      <div class="collapsible-body"><span>{{ review.review_author }}</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="fas fa-question-circle"></i><span class="headers"> Genre</span></div>
      <div class="collapsible-body"><span>{{ review.review_genre }}</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="fas fa-language"></i><span class="headers">Language</span></div>
      <div class="collapsible-body"><span>{{ review.review_language }}</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="fas fa-user-edit"></i><span class="headers">Review</span></div>
      <div class="collapsible-body"><span>{{ review.review_text }}</span>
                                    <p><em>{{ review.created_by }}</em> </p></div></div>

    </li>
    {% endfor %}
  </ul>
        

    {% endblock %}