{% extends "base.html" %}
{% block content %}

    

    {% for review in reviews %}
        {{ review.review_title }}<br>
        {{ review.review_author }}<br>
        {{ review.review_genre }}<br>
        {{ review.review_language }}<br>
        {{ review.review_text }}<br>
    {% endfor %}


  <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="fas fa-book">Book Title</i></div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="fas fa-feather">Author</i></div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="fas fa-question-circle"></i>Genre</i></div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="fas fa-language">Language</i></div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="fas fa-user-edit"></i>Review</i></div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
  </ul>
        

    {% endblock %}